html {
    height: 100vh;
    margin: 0;
    background-color: white;
}
  
body {
    margin: 0;
    overflow-x: hidden !important;
    position: relative;
}

.video-container {
    position: sticky;
    height: 100vh;
    top: 0;
    overflow-x: hidden;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-width: 900px;
}

@media only screen and (max-width: 900px) {
    video {
        left: 50%;
        margin-left: -450px;
    }
}

.title-container {
    box-sizing: border-box;
    background-color: aquamarine;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    z-index: 2;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
}

.body-container {
    box-sizing: border-box;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    z-index: 2;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}

.title {
    color: black;
    font: normal normal bold 75px/90px Verdana;
    z-index: 2;
}